body {
  background-color: rgb(212, 162, 105);
  overflow-x: hidden;
  overflow-y:hidden;
}

.oregano {
  position: absolute;

  min-width: 25px;
  min-height: 25px;
  background-color: #167a40;
  min-width: 15px;
  min-height: 15px;
  visibility: hidden;
  overflow: visible;
}

a {
  color: #167a40;
}

.oregano-leaf {
  visibility: visible;
  position: absolute;
  background-color: #167a40;
  min-width: 25px;
  min-height: 25px;
  opacity: 0.5;
  z-index: 100;
}

.oreganos {
  position: relative;
  background-color: rgb(212, 162, 105);
}

.info { margin: 0px 4em;}

.oregano--heirloom {
  background-color: #0e4d28;
}
.count { 
  margin: 2em 0px;
}